/* Extra Small Devices, .visible-xs-* */
@media (max-width: 230px) {
	.age_confirm a {
	    font-size: 1.7em;
	}
}
@media (max-width: 767px) {

  .home_slider .carousel-control-next, .carousel-control-prev {
	    bottom: 20px;
    }

	.carousel-item {
     	height: auto; 
	}
    .carousel-indicators {
    	bottom: 10px;
    	display: none;
    }
    .logo-big {
     	max-width: 200px; 
	}
	.age_confirm {
    	font-size: 12px;
	}
	.age_confirm h1 {
	    font-weight: 800;
	    font-size: 33px;
	}
	.rubberBand a{
		padding: 0px !important;
	}
	.age_confirmation h3, label {
    	font-size: 0.8em;
	}
	.age_confirmation h2 {
	    font-size: 1.5em;
	    font-weight: 800;
	}
	.age_confirmation .dobform input {
	    background: transparent;
	    height: 4em;
	    border-radius: 5%;
	    padding-top: 10px;
	    border: 1px solid #B2B2B2;
	    color: #237523 !important;
	    font-weight: 900 !important;
	    margin-bottom: 1em;
	}
	.disclaimer {
		width: 100% !important;
		padding-top: 0px !important;
	}
	.disclaimer p{
		text-align: left;
		padding-left: 25px;
	}
	.disclaimer h4{
		text-align: center;
	}
	.age_confirmation .subscribe {
    	width: 90%;
	}
	.age_confirmation .form-check-label {
	    color: #fffffffc;
	    font-weight: 100;
	    font-size: 12px;
	    padding-left: 0px !important;
	}
	.dobform .mr-4{
		margin-right: 0px !important;
	}
	.subscribe .mr-4{
		margin-right: 0px !important;
	}
	.submit_btn .btn {
		font-size: 20px;
	    padding: 10px 100px 10px 100px;
	}
	.subscribe .phonrnumber{
		margin-bottom: 40px; 
	}
	.navbar {
	    position: relative;
	    z-index: 10;
	    top: 1%;
	    left: 0px; 
	}
	.navbar .fas {
    	font-size: 20px;
	}
	.navbar-toggler .fa-bars {
	    font-size: 35px;
	}
	
	.navbar p {
	    font-size: 12px;
	    color: #52AE32;
	    font-weight: 700;
	}
	.navbar-brand {
		margin-bottom: 20px;
	}
	footer .footer2 {
    	padding-left: 20px;
	}
	footer .footer2 .card-text {
    	font-size: 12px;
	}
	footer .pl-5 {
    	padding-left: 20px !important;
	}
	footer .card-title {
	    margin-top: 20px;
	}
	footer h2 {
    	font-size: 16px;
	}
	.contacto .card {
	    background-color: transparent;
	    padding-right: 0%;
 	} 
 	.contacto .card-title {
	    color: #52AE32;
	    font-size: 1.5em;
	    font-weight: 900;
	}
	.mapouter{
	  text-align:right;
	  height:200px;
	  width:280px;
	}
	.gmap_canvas {
	  overflow:hidden;
	  background:none;
	  height:200px;
	  width:320px;
	}
	.testimonials .card-body {
	    background-color: #000;
	    padding: 10px 10px 20px 10px; 
	    padding-top: 80px;
	}
	.testimonials .card-text {
    	font-size: 10px;
	}
	.testimonials {
	    background-color: #86BC25;
	    padding-top: 50px;
	    padding-bottom: 30px;
	}
	.testimonials h2 {
	    color: #000;
	    font-size: 2.0em;
	    font-weight: 800;
	    padding-bottom: 10px; 
	}
	#brand  .owl-nav{
		display: none;
	}
	.master_brand {
    	margin-top: 10px;
	}
	.master_brand h2{
    	font-size: 16px;
    	font-weight: 800;
	}
	.master_brand span .btn{
    	margin-left: 10px !important;
    	font-size:10px;
    	margin-top: -10px: 
	    padding: 5px 5px 5px 5px !important;
	}
	footer input, .btn {
    	height: 30px;
	}
	.products_services .discover .card {
	    position: absolute;
	    bottom: 10%;
	    right: 10%;
	    left: 20% !important;
	    background-color: #000;
	    max-width: 28em;
	    font-size: 0.7em;
	    padding: 5px 5px 5px 5px;
	}
	.products_services .discover {
	    height: 100vh;
	    margin-top: 50px;
	}
	.products_services {
	    font-size: 12px;
	    margin-top: 30px;
	    margin-bottom: 10px !important;
	}
	.products_services h2 {
	    color: #52AE32;
	    font-weight: 900;
	    font-size: 20px;
	}
	.products_services .btn {
	    padding: 1px 15px 1px 15px;
	    background-color: #FFED00;
	    font-size: 12px;
	    height: 20px;
	    margin-left: 20px !important;
	}
	.meet_team .item h2{
		font-size: 25px;
		font-weight: 700;
	}
	.meet_team .item{
		padding-left: 10px;
		padding-right: 10px;
	}
	.meet_team .item span{
		font-size: 15px;
		font-weight: 300;
	}
	.meet_team p {
	    font-size: 14px;
	    color: #FFED00;
	}
	.meet_team h1 {
	    font-size: 20px;
	    font-weight: 700;
	}
	.news_events .owl-theme figcaption h2 {
	    font-size: 20px;
	    font-weight: 900;
	    width: 80%;
	}
	.news_events .owl-theme figcaption p {
	    font-size: 12px;
	    width: 100%;
	}
	.news_events .owl-nav{
		display: none;
	}
	.news_events .list-group{
		padding-left: 0px !important;
		padding-right: 10px;
	}
	.news_events h5 {
	    color: #52AE32;
	    font-size: 1em;
	    font-weight: 900;
	}
	.news_events p{
	    font-size: 0.8em;
	}
	.social_home {
	    top: 35%;
	}
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) { 

}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {

}